.MainHeader {
  all: unset;
  position: sticky;
  top: 0;
  
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  background-color: var(--bg2);
  border-bottom: 5px solid var(--fg2);
  box-shadow: 0 2px 2px #0008;
  padding: 5px 10px;
  
  .title {
    color: var(--fg2);
    font-size: 1.25rem;
  }

  animation: zindex 1ms ease;
  animation-timeline: scroll();
}

@keyframes zindex {
  from {
    z-index: 1;
  }

  0.001% {
    z-index: 2;
  }

  to {
    z-index: 2;
  }
}

.MenuIcon {
  .line3 {
    transform-origin: 50% 50%;
    transition: all 1s;
  }

  .line1 {
    transition: all 1s;
  }

  .line2 {
    transform-origin: 50% 50%;
    transition: all 1s;
  }
}

.MenuIcon.x {
  .line3 {
    transform-origin: 50% 50%;
    transform: translate(20%, -20%) rotate(45deg);
    transition: all 1s;
  }

  .line1 {
    opacity: 0;
    transition: all 1s;
  }

  .line2 {
    transform-origin: center;
    transform: translate(20%, 20%) rotate(-45deg);
    transition: all 1s;
  }
}